.forTable table { /*width: 600px;*/ width : 60%;
    /*height: 60%;*/
    border-collapse: collapse;
    border: medium solid #000000;
    border-spacing: 1px;
    empty-cells: show;
}

.forTable th, td {
    /*border: none;*/
border : thin dotted grey;
    padding: 2px;
}
.forTable th {
background-color : #000;
    color: #FFF;
}

/*.forTable tr : nth-of-type ( even ) {*/
    /*background-color: #F3F3F3;*/
/*background-color : lightgreen;*/
/*}*/

/*.forTable tr : nth-of-type ( odd ) {*/
/*background-color : paleturquoise;*/
/*}*/

/*.forTable td : nth-child ( n + 2 ) {*/
/*text-align : center;*/
    /*vertical-align: middle;*/

/*}*/

